.settingsDrawerWrapper {
  width: 100vw;

  /* 6em difference as the processList and .5em less to omit the padding */
  height: calc(100vh - 4em);
  position: absolute;
  overflow: hidden;
  visibility: hidden;
  transition: all 0.2s ease-in;
}

.settingsDrawerPanel {
  width: 50vw;
  height: inherit;
  background-color: #242c39;
  right: -50vw;
  position: absolute;
  transition: all 0.3s ease-in;
}

.panelVisible {
  right: 0;
}

.wrapperVisible {
  background-color: #3c3c3c75;
  visibility: visible;
}

.settingsMenuItem {
  display: flex;
  padding: 2em 1em 0 1em;
  flex-direction: column;
}

.settingsMenuContent {
  display: flex;
  justify-content: space-between;
}

.settingsMenuItem::after {
  content: '';
  border-bottom: 1px solid grey;
  width: 80%;
  display: flex;
  margin-top: 2em;
  align-self: center;
}

.disableMenuItemSeperator::after {
  content: unset;
}

/* Toggle checkbox */

input[type='checkbox'] {
  height: 0;
  width: 0;
  visibility: hidden;
}

label {
  cursor: pointer;
  text-indent: -9999px;
  width: 50px;
  height: 25px;
  background: grey;
  display: block;
  border-radius: 100px;
  position: relative;
}

label::after {
  content: '';
  position: absolute;
  top: 5px;
  left: 5px;
  width: 15px;
  height: 15px;
  background: #fff;
  border-radius: 90px;
  transition: 0.3s;
}

input:checked + label {
  background: #bada55;
}

label:active::after {
  width: 25px;
}

input:checked + label::after {
  left: calc(100% - 5px);
  transform: translateX(-100%);
}
