.settingsDrawerWrapper {
  width: 100vw;

  /* 6em difference as the processList and .5em less to omit the padding */
  height: calc(100vh - 4em);
  position: absolute;
  overflow: hidden;
  visibility: hidden;
  transition: all 0.2s ease-in;
}

.settingsDrawerPanel {
  width: 50vw;
  height: inherit;
  background-color: #242c39;
  right: -50vw;
  position: absolute;
  transition: all 0.3s ease-in;
}

.panelVisible {
  right: 0;
}

.wrapperVisible {
  background-color: #3c3c3c75;
  visibility: visible;
}

.settingsMenuItem {
  display: flex;
  flex-direction: column;
}

.settingsMenuContent {
  display: flex;
  padding: 1.5em 1em 0 1em;
  justify-content: space-between;
}

.settingsMenuItem::after {
  content: '';
  border-bottom: 1px solid grey;
  width: 80%;
  display: flex;
  margin-top: 1.5em;
  align-self: center;
}

.disableMenuItemSeperator::after {
  content: unset;
}

/* Toggle checkbox */

input[type='checkbox'] {
  height: 0;
  width: 0;
  visibility: hidden;
}

label {
  cursor: pointer;
  text-indent: -9999px;
  width: 50px;
  height: 25px;
  background: grey;
  display: block;
  border-radius: 100px;
  position: relative;
}

label::after {
  content: '';
  position: absolute;
  top: 5px;
  left: 5px;
  width: 15px;
  height: 15px;
  background: #fff;
  border-radius: 90px;
  transition: 0.3s;
}

input:checked + label {
  background: #bada55;
}

label:active::after {
  width: 25px;
}

input:checked + label::after {
  left: calc(100% - 5px);
  transform: translateX(-100%);
}

.pomodoroSettingsWrapper {
  padding: 1em 0 0 1em;
  height: 11.5em;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transition: all 0.2s ease;
}

.pomodoroRangeWrapper {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-right: 1em;
}

.pomodoroSettingRow {
  height: 3.3em;
  display: flex;
  justify-content: space-between;
}

.pomodoroSettingIndicator {
  margin-left: -1em;
  display: flex;
  flex-direction: column;
  align-self: center;
  background: #bada55;
  width: 1em;
  height: 0.7em;
  border-top-right-radius: 0.3em;
  border-bottom-right-radius: 0.3em;
}

.pomodoroSettingContent {
  width: 95%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

input[type='range'] {
  -webkit-appearance: none; /* Hides the slider so that custom slider can be made */
  background: transparent; /* Otherwise white in Chrome */
}

input[type='range']::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 15px;
  width: 15px;
  border-radius: 90px;
  background: #bada55;
  cursor: pointer;
  margin-top: -4.2px; /* You need to specify a margin in Chrome, but in Firefox and IE it is automatic */
}

input[type='range']:focus {
  outline: none; /* Removes the blue border. You should probably do some kind of focus styling for accessibility reasons though. */
}

input[type='range']::-webkit-slider-runnable-track {
  height: 8.4px;
  cursor: pointer;
  background: #808080;
  border-radius: 1.3px;
  border: 0.2px solid #010101;
}

input[type='range']:focus::-webkit-slider-runnable-track {
  background: #7e7070;
}
