.headerWrapper {
  position: relative;
  height: 3.5em;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 0.5em;
  border-bottom: 2px solid #3c3c3c;
  background: #232c39;
}

.sessionInformationSection {
  flex-direction: column;
  display: flex;
  align-items: center;
}

.sessionInformationTitle {
  font-size: smaller;
  margin-bottom: -0.3em;
}

.sessionInformationTime {
  font-size: 27px;
}

.settingsSection {
  position: absolute;
  right: 0;
  display: flex;
  width: 3em;
  height: 3em;
  justify-content: center;
  align-items: center;
  transition: 0.5s;
}

.startStopSection {
  position: absolute;
  left: 0;
  display: flex;
  width: 3em;
  height: 3em;
  justify-content: center;
  align-items: center;
  transition: 0.5s;
}

.settingsSection:hover,
.startStopSection:hover {
  opacity: 0.5;
}

/* Scale Bar */

.scaleBarWrapper {
  display: flex;
  flex-direction: column;
  width: 65vw;
  margin-right: 1em;
}

.scaleBarSectionTitleWrapper {
  display: flex;
  justify-content: space-between;
  padding: 0 1em 0.2em 1em;
  align-items: flex-end;
}

.processScaleBar {
  width: inherit;
  height: 1.2em;
  background: #e2e3e5;
  display: flex;
  align-items: center;
  border-radius: 0.1em;
  font-size: 14px;
}

.processPercentagePointer {
  width: 0.3em;
  height: 1.5em;
  background: #c2e2d6;
  border-radius: 0.1em;
  box-shadow: 0 0 6px 3px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0 0 6px 3px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 0 6px 3px rgba(0, 0, 0, 0.3);
}

.processPercentage {
  display: flex;
  justify-content: center;
  color: #242c39;
  font-weight: 600;
}
