.headerWrapper {
  position: relative;
  height: 3.5em;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 0.5em;
  border-bottom: 2px solid #3c3c3c;
  background: #232c39;
}

.sessionInformationSection {
  flex-direction: column;
  display: flex;
  align-items: center;
}

.sessionInformationTitle {
  font-size: smaller;
  margin-bottom: -0.3em;
}

.sessionInformationTime {
  font-size: 27px;
}

.settingsAndHistoricalSectionWrapper {
  position: absolute;
  right: 0;
  top: .1em;
  display: flex;
  flex-direction: column;
  height: 3.7em;
  justify-content: space-between;
}

.historicalSection {
  display: flex;
  width: 1.5em;
  height: 1.5em;
  justify-content: center;
  align-items: center;
  transition: 0.5s;
}

.historicalSection a {
  opacity: unset;
}

.settingsSection {
  display: flex;
  width: 1.5em;
  height: 1.5em;
  justify-content: center;
  align-items: center;
  transition: 0.5s;
}

.startStopSection {
  position: absolute;
  left: 0;
  display: flex;
  width: 3em;
  height: 3em;
  justify-content: center;
  align-items: center;
  transition: 0.5s;
}

.startStopSection svg:hover,
.settingsSection svg:hover,
.historicalSection svg:hover {
  cursor: pointer;
}

.settingsSection:hover,
.startStopSection:hover,
.historicalSection:hover {
  opacity: 0.5;
}

/* Scale Bar */

.scaleBarWrapper {
  display: flex;
  flex-direction: column;
  width: 65vw;
}

.scaleBarSectionTitleWrapper {
  display: flex;
  justify-content: space-between;
  padding: 0 1em 0.2em 1em;
  align-items: flex-end;
}
