.confirmationDialogWrapper {
  position: absolute;
  width: 88vw;
  height: 6.5em;
  background-color: gainsboro;
  left: 0;
  right: 0;
  top: 3.5em; /* 3.5em on open | -2.5em closed */
  margin: auto;
  transition: all 0.5s ease;
  border-radius: 0.3em;
  color: #242c39;
}

.contentWrapper {
  margin: 1.2em;
}

.titleSpan {
  display: block;
  font-weight: 600;
}

.messageSpan {
  display: block;
}

.actionButtonWrapper {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 40%;
  float: right;
  margin-top: 0.7em;
}

.actionButton {
  padding: 0.2em;
  width: 4em;
  background-color: #fff;
  text-align: center;
  border-radius: 0.2em;
  cursor: pointer;
}

.highlightActionButton {
  background-color: #2e77d0;
  color: #fff;
}
